# Kaggle Datset Download

In [1]:
!kaggle datasets download -d sudalairajkumar/covid19-in-india

Downloading covid19-in-india.zip to C:\Users\chanu\Downloads

  0%|          | 0.00/273k [00:00<?, ?B/s]
100%|##########| 273k/273k [00:00<00:00, 2.10MB/s]
100%|##########| 273k/273k [00:00<00:00, 2.10MB/s]

In [2]:
from zipfile import ZipFile
zf = ZipFile(r"C:\Users\chanu\covid19-in-india.zip")
zf.extractall(r'C:\Users\chanu\covid1')
zf.close()

In [3]:
#importing require packages

from pathlib import Path

import requests
import numpy as np
import pandas as pd
import pandas_profiling
from pandas_profiling.utils.cache import cache_file

In [4]:
#Using File-caching,downloading csv file

file_name = cache_file(
    "COVID-19 Cases-2",
    "https://prsindia.org/covid-19/cases/download",
)
    
df = pd.read_csv(file_name)

In [5]:
print(df.tail(100))

      S. No.        Date Region  Confirmed Cases  Active Cases  \
5513    5514  10/05/2020  World          3917366       3643005
5514    5515  11/05/2020  World          4006257       3727365
5515    5516  12/05/2020  World          4088848       3805695
5516    5517  13/05/2020  World          4170424       3883025
5517    5518  14/05/2020  World          4248389       3954343
...      ...         ...    ...              ...           ...
5608    5609  13/08/2020  World         20439814      19695429
5609    5610  14/08/2020  World         20730456      19979302
5610    5611  15/08/2020  World         21026758      20270972
5611    5612  16/08/2020  World         21294845      20533066
5612    5613  18/08/2020  World         21756357      20984722

      Cured/Discharged     Death
5513               NaN  274361.0
5514               NaN  278892.0
5515               NaN  283153.0
5516               NaN  287399.0
5517               NaN  294046.0
...                ...       ...
5608               NaN  744385.0
5609               NaN  751154.0
5610               NaN  755786.0
5611               NaN  761779.0
5612               NaN  771635.0

[100 rows x 7 columns]

# DATA Cleaning/Wrangling

In [6]:
df.columns

Index(['S. No.', 'Date', 'Region', 'Confirmed Cases', 'Active Cases',
       'Cured/Discharged', 'Death'],
      dtype='object')

In [7]:
df[df['Date']=='19/08/2020']

,S. No.,Date,Region,Confirmed Cases,Active Cases,Cured/Discharged,Death
160,161,19/08/2020,India,2767273,676514,2037870.0,52889.0
306,307,19/08/2020,Andaman and Nicobar Islands,2529,1078,1421.0,30.0
467,468,19/08/2020,Andhra Pradesh,306261,85130,218311.0,2820.0
606,607,19/08/2020,Arunachal Pradesh,2875,921,1949.0,5.0
746,747,19/08/2020,Assam,82201,23704,58294.0,203.0
897,898,19/08/2020,Bihar,109498,28692,80330.0,476.0
1051,1052,19/08/2020,Chandigarh,2305,1032,1243.0,30.0
1204,1205,19/08/2020,Chhattisgarh,16833,5828,10847.0,158.0
1307,1308,19/08/2020,Dadra and Nagar Haveli and Daman and Diu,1951,425,1524.0,2.0
1468,1469,19/08/2020,Delhi,154741,11068,139447.0,4226.0
1615,1616,19/08/2020,Goa,12333,3861,8356.0,116.0
1768,1769,19/08/2020,Gujarat,80802,14279,63703.0,2820.0
1929,1930,19/08/2020,Haryana,48936,7081,41298.0,557.0
2081,2082,19/08/2020,Himachal Pradesh,4235,1293,2923.0,19.0
2242,2243,19/08/2020,Jammu and Kashmir,29326,6879,21886.0,561.0
2382,2383,19/08/2020,Jharkhand,24477,8708,15507.0,262.0
2543,2544,19/08/2020,Karnataka,240948,79798,156949.0,4201.0
2704,2705,19/08/2020,Kerala,47898,16333,31390.0,175.0
2865,2866,19/08/2020,Ladakh,2010,598,1395.0,17.0
2886,2887,19/08/2020,Lakshadweep,0,0,0.0,0.0
3038,3039,19/08/2020,Madhya Pradesh,47375,10521,35713.0,1141.0
3199,3200,19/08/2020,Maharashtra,615477,156920,437870.0,20687.0
3347,3348,19/08/2020,Manipur,4765,1958,2789.0,18.0
3474,3475,19/08/2020,Meghalaya,1457,766,685.0,6.0
3621,3622,19/08/2020,Mizoram,860,481,379.0,0.0
3715,3716,19/08/2020,Nagaland,3520,1848,1664.0,8.0
3872,3873,19/08/2020,Odisha,64533,18856,45315.0,362.0
4026,4027,19/08/2020,Puducherry,8396,3364,4909.0,123.0
4187,4188,19/08/2020,Punjab,34400,11740,21762.0,898.0
4348,4349,19/08/2020,Rajasthan,63977,14119,48960.0,898.0
4436,4437,19/08/2020,Sikkim,1207,450,755.0,2.0
4685,4686,19/08/2020,Tamil Nadu,349654,53860,289787.0,6007.0
4846,4847,19/08/2020,Telangana,95700,20990,73991.0,719.0
4981,4982,19/08/2020,Tripura,7645,2083,5497.0,65.0
5142,5143,19/08/2020,Uttar Pradesh,162434,50242,109607.0,2585.0
5299,5300,19/08/2020,Uttarakhand,12961,4073,8724.0,164.0
5453,5454,19/08/2020,West Bengal,122753,27535,92690.0,2528.0

#Merging Population Census file

In [8]:
df1=pd.read_csv(r'C:\Users\chanu\Downloads\covid\population_india_census2011.csv')

In [9]:
df1.columns

Index(['Sno', 'State / Union Territory', 'Population', 'Rural population',
       'Urban population', 'Area', 'Density', 'Gender Ratio'],
      dtype='object')

In [10]:
#Apply join on two dataframes into new dataframe

dfm=pd.merge(df, df1, how='inner', on=None, left_on='Region', right_on='State / Union Territory',
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [11]:
dfm[dfm['Date']=='19/08/2020']

,S. No.,Date,Region,Confirmed Cases,Active Cases,Cured/Discharged,Death,Sno,State / Union Territory,Population,Rural population,Urban population,Area,Density,Gender Ratio
145,307,19/08/2020,Andaman and Nicobar Islands,2529,1078,1421.0,30.0,34,Andaman and Nicobar Islands,380581,237093,143488,"8,249 km2 (3,185 sq mi)",46/km2 (120/sq mi),876
306,468,19/08/2020,Andhra Pradesh,306261,85130,218311.0,2820.0,10,Andhra Pradesh,49577103,34966693,14610410,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993
445,607,19/08/2020,Arunachal Pradesh,2875,921,1949.0,5.0,26,Arunachal Pradesh,1383727,1066358,317369,"83,743 km2 (32,333 sq mi)",17/km2 (44/sq mi),938
585,747,19/08/2020,Assam,82201,23704,58294.0,203.0,15,Assam,31205576,26807034,4398542,"78,438 km2 (30,285 sq mi)","397/km2 (1,030/sq mi)",954
736,898,19/08/2020,Bihar,109498,28692,80330.0,476.0,3,Bihar,104099452,92341436,11758016,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918
890,1052,19/08/2020,Chandigarh,2305,1032,1243.0,30.0,32,Chandigarh,1055450,28991,1026459,114 km2 (44 sq mi),"9,252/km2 (23,960/sq mi)",818
1043,1205,19/08/2020,Chhattisgarh,16833,5828,10847.0,158.0,17,Chhattisgarh,25545198,19607961,5937237,"135,191 km2 (52,198 sq mi)",189/km2 (490/sq mi),991
1146,1308,19/08/2020,Dadra and Nagar Haveli and Daman and Diu,1951,425,1524.0,2.0,33,Dadra and Nagar Haveli and Daman and Diu,585764,243510,342254,603 km2 (233 sq mi),"970/km2 (2,500/sq mi)",711
1307,1469,19/08/2020,Delhi,154741,11068,139447.0,4226.0,29,Delhi,16787941,419042,16368899,"1,484 km2 (573 sq mi)","11,297/km2 (29,260/sq mi)",868
1454,1616,19/08/2020,Goa,12333,3861,8356.0,116.0,25,Goa,1458545,551731,906814,"3,702 km2 (1,429 sq mi)","394/km2 (1,020/sq mi)",973
1607,1769,19/08/2020,Gujarat,80802,14279,63703.0,2820.0,9,Gujarat,60439692,34694609,25745083,"196,024 km2 (75,685 sq mi)",308/km2 (800/sq mi),919
1768,1930,19/08/2020,Haryana,48936,7081,41298.0,557.0,18,Haryana,25351462,16509359,8842103,"44,212 km2 (17,070 sq mi)","573/km2 (1,480/sq mi)",879
1920,2082,19/08/2020,Himachal Pradesh,4235,1293,2923.0,19.0,20,Himachal Pradesh,6864602,6176050,688552,"55,673 km2 (21,495 sq mi)",123/km2 (320/sq mi),972
2081,2243,19/08/2020,Jammu and Kashmir,29326,6879,21886.0,561.0,30,Jammu and Kashmir,12267032,9064220,3202812,"125,535 km2 (48,469 sq mi)",98/km2 (250/sq mi),890
2221,2383,19/08/2020,Jharkhand,24477,8708,15507.0,262.0,14,Jharkhand,32988134,25055073,7933061,"79,714 km2 (30,778 sq mi)","414/km2 (1,070/sq mi)",948
2382,2544,19/08/2020,Karnataka,240948,79798,156949.0,4201.0,8,Karnataka,61095297,37469335,23625962,"191,791 km2 (74,051 sq mi)",319/km2 (830/sq mi),973
2543,2705,19/08/2020,Kerala,47898,16333,31390.0,175.0,13,Kerala,33406061,17471135,15934926,"38,863 km2 (15,005 sq mi)","859/km2 (2,220/sq mi)",1084
2704,2866,19/08/2020,Ladakh,2010,598,1395.0,17.0,35,Ladakh,274000,43840,230160,"96,701 km2 (37,336 sq mi)",2.8/km2 (7.3/sq mi),853
2725,2887,19/08/2020,Lakshadweep,0,0,0.0,0.0,36,Lakshadweep,64473,14141,50332,32 km2 (12 sq mi),"2,013/km2 (5,210/sq mi)",946
2877,3039,19/08/2020,Madhya Pradesh,47375,10521,35713.0,1141.0,5,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2 (119,014 sq mi)",236/km2 (610/sq mi),931
3038,3200,19/08/2020,Maharashtra,615477,156920,437870.0,20687.0,2,Maharashtra,112374333,61556074,50818259,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
3186,3348,19/08/2020,Manipur,4765,1958,2789.0,18.0,23,Manipur,2570390,1793875,776515,"22,327 km2 (8,621 sq mi)",122/km2 (320/sq mi),992
3313,3475,19/08/2020,Meghalaya,1457,766,685.0,6.0,22,Meghalaya,2966889,2371439,595450,"22,429 km2 (8,660 sq mi)",132/km2 (340/sq mi),989
3460,3622,19/08/2020,Mizoram,860,481,379.0,0.0,27,Mizoram,1097206,525435,571771,"21,081 km2 (8,139 sq mi)",52/km2 (130/sq mi),976
3554,3716,19/08/2020,Nagaland,3520,1848,1664.0,8.0,24,Nagaland,1978502,1407536,570966,"16,579 km2 (6,401 sq mi)",119/km2 (310/sq mi),931
3711,3873,19/08/2020,Odisha,64533,18856,45315.0,362.0,11,Odisha,41974218,34970562,7003656,"155,707 km2 (60,119 sq mi)",269/km2 (700/sq mi),979
3865,4027,19/08/2020,Puducherry,8396,3364,4909.0,123.0,31,Puducherry,1247953,395200,852753,479 km2 (185 sq mi),"2,598/km2 (6,730/sq mi)",1037
4026,4188,19/08/2020,Punjab,34400,11740,21762.0,898.0,16,Punjab,27743338,17344192,10399146,"50,362 km2 (19,445 sq mi)","550/km2 (1,400/sq mi)",895
4187,4349,19/08/2020,Rajasthan,63977,14119,48960.0,898.0,7,Rajasthan,68548437,51500352,17048085,"342,239 km2 (132,139 sq mi)",201/km2 (520/sq mi),928
4275,4437,19/08/2020,Sikkim,1207,450,755.0,2.0,28,Sikkim,610577,456999,153578,"7,096 km2 (2,740 sq mi)",86/km2 (220/sq mi),890
4436,4686,19/08/2020,Tamil Nadu,349654,53860,289787.0,6007.0,6,Tamil Nadu,72147030,37229590,34917440,"130,058 km2 (50,216 sq mi)","555/km2 (1,440/sq mi)",996
4571,4982,19/08/2020,Tripura,7645,2083,5497.0,65.0,21,Tripura,3673917,2712464,961453,"10,486 km2 (4,049 sq mi)",350/km2 (910/sq mi),960
4732,5143,19/08/2020,Uttar Pradesh,162434,50242,109607.0,2585.0,1,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2 (93,023 sq mi)","828/km2 (2,140/sq mi)",912
4889,5300,19/08/2020,Uttarakhand,12961,4073,8724.0,164.0,19,Uttarakhand,10086292,7036954,3049338,"53,483 km2 (20,650 sq mi)",189/km2 (490/sq mi),963
5043,5454,19/08/2020,West Bengal,122753,27535,92690.0,2528.0,4,West Bengal,91276115,62183113,29093002,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953

In [12]:
#Dropiing Duplicate columns
dfm=dfm.drop(['Sno','S. No.','State / Union Territory'],axis=1)

In [13]:
dfm[dfm['Date']=='19/08/2020']

,Date,Region,Confirmed Cases,Active Cases,Cured/Discharged,Death,Population,Rural population,Urban population,Area,Density,Gender Ratio
145,19/08/2020,Andaman and Nicobar Islands,2529,1078,1421.0,30.0,380581,237093,143488,"8,249 km2 (3,185 sq mi)",46/km2 (120/sq mi),876
306,19/08/2020,Andhra Pradesh,306261,85130,218311.0,2820.0,49577103,34966693,14610410,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993
445,19/08/2020,Arunachal Pradesh,2875,921,1949.0,5.0,1383727,1066358,317369,"83,743 km2 (32,333 sq mi)",17/km2 (44/sq mi),938
585,19/08/2020,Assam,82201,23704,58294.0,203.0,31205576,26807034,4398542,"78,438 km2 (30,285 sq mi)","397/km2 (1,030/sq mi)",954
736,19/08/2020,Bihar,109498,28692,80330.0,476.0,104099452,92341436,11758016,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918
890,19/08/2020,Chandigarh,2305,1032,1243.0,30.0,1055450,28991,1026459,114 km2 (44 sq mi),"9,252/km2 (23,960/sq mi)",818
1043,19/08/2020,Chhattisgarh,16833,5828,10847.0,158.0,25545198,19607961,5937237,"135,191 km2 (52,198 sq mi)",189/km2 (490/sq mi),991
1146,19/08/2020,Dadra and Nagar Haveli and Daman and Diu,1951,425,1524.0,2.0,585764,243510,342254,603 km2 (233 sq mi),"970/km2 (2,500/sq mi)",711
1307,19/08/2020,Delhi,154741,11068,139447.0,4226.0,16787941,419042,16368899,"1,484 km2 (573 sq mi)","11,297/km2 (29,260/sq mi)",868
1454,19/08/2020,Goa,12333,3861,8356.0,116.0,1458545,551731,906814,"3,702 km2 (1,429 sq mi)","394/km2 (1,020/sq mi)",973
1607,19/08/2020,Gujarat,80802,14279,63703.0,2820.0,60439692,34694609,25745083,"196,024 km2 (75,685 sq mi)",308/km2 (800/sq mi),919
1768,19/08/2020,Haryana,48936,7081,41298.0,557.0,25351462,16509359,8842103,"44,212 km2 (17,070 sq mi)","573/km2 (1,480/sq mi)",879
1920,19/08/2020,Himachal Pradesh,4235,1293,2923.0,19.0,6864602,6176050,688552,"55,673 km2 (21,495 sq mi)",123/km2 (320/sq mi),972
2081,19/08/2020,Jammu and Kashmir,29326,6879,21886.0,561.0,12267032,9064220,3202812,"125,535 km2 (48,469 sq mi)",98/km2 (250/sq mi),890
2221,19/08/2020,Jharkhand,24477,8708,15507.0,262.0,32988134,25055073,7933061,"79,714 km2 (30,778 sq mi)","414/km2 (1,070/sq mi)",948
2382,19/08/2020,Karnataka,240948,79798,156949.0,4201.0,61095297,37469335,23625962,"191,791 km2 (74,051 sq mi)",319/km2 (830/sq mi),973
2543,19/08/2020,Kerala,47898,16333,31390.0,175.0,33406061,17471135,15934926,"38,863 km2 (15,005 sq mi)","859/km2 (2,220/sq mi)",1084
2704,19/08/2020,Ladakh,2010,598,1395.0,17.0,274000,43840,230160,"96,701 km2 (37,336 sq mi)",2.8/km2 (7.3/sq mi),853
2725,19/08/2020,Lakshadweep,0,0,0.0,0.0,64473,14141,50332,32 km2 (12 sq mi),"2,013/km2 (5,210/sq mi)",946
2877,19/08/2020,Madhya Pradesh,47375,10521,35713.0,1141.0,72626809,52557404,20069405,"308,245 km2 (119,014 sq mi)",236/km2 (610/sq mi),931
3038,19/08/2020,Maharashtra,615477,156920,437870.0,20687.0,112374333,61556074,50818259,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
3186,19/08/2020,Manipur,4765,1958,2789.0,18.0,2570390,1793875,776515,"22,327 km2 (8,621 sq mi)",122/km2 (320/sq mi),992
3313,19/08/2020,Meghalaya,1457,766,685.0,6.0,2966889,2371439,595450,"22,429 km2 (8,660 sq mi)",132/km2 (340/sq mi),989
3460,19/08/2020,Mizoram,860,481,379.0,0.0,1097206,525435,571771,"21,081 km2 (8,139 sq mi)",52/km2 (130/sq mi),976
3554,19/08/2020,Nagaland,3520,1848,1664.0,8.0,1978502,1407536,570966,"16,579 km2 (6,401 sq mi)",119/km2 (310/sq mi),931
3711,19/08/2020,Odisha,64533,18856,45315.0,362.0,41974218,34970562,7003656,"155,707 km2 (60,119 sq mi)",269/km2 (700/sq mi),979
3865,19/08/2020,Puducherry,8396,3364,4909.0,123.0,1247953,395200,852753,479 km2 (185 sq mi),"2,598/km2 (6,730/sq mi)",1037
4026,19/08/2020,Punjab,34400,11740,21762.0,898.0,27743338,17344192,10399146,"50,362 km2 (19,445 sq mi)","550/km2 (1,400/sq mi)",895
4187,19/08/2020,Rajasthan,63977,14119,48960.0,898.0,68548437,51500352,17048085,"342,239 km2 (132,139 sq mi)",201/km2 (520/sq mi),928
4275,19/08/2020,Sikkim,1207,450,755.0,2.0,610577,456999,153578,"7,096 km2 (2,740 sq mi)",86/km2 (220/sq mi),890
4436,19/08/2020,Tamil Nadu,349654,53860,289787.0,6007.0,72147030,37229590,34917440,"130,058 km2 (50,216 sq mi)","555/km2 (1,440/sq mi)",996
4571,19/08/2020,Tripura,7645,2083,5497.0,65.0,3673917,2712464,961453,"10,486 km2 (4,049 sq mi)",350/km2 (910/sq mi),960
4732,19/08/2020,Uttar Pradesh,162434,50242,109607.0,2585.0,199812341,155317278,44495063,"240,928 km2 (93,023 sq mi)","828/km2 (2,140/sq mi)",912
4889,19/08/2020,Uttarakhand,12961,4073,8724.0,164.0,10086292,7036954,3049338,"53,483 km2 (20,650 sq mi)",189/km2 (490/sq mi),963
5043,19/08/2020,West Bengal,122753,27535,92690.0,2528.0,91276115,62183113,29093002,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953

In [14]:
dfm.dtypes

Date                 object
Region               object
Confirmed Cases       int64
Active Cases          int64
Cured/Discharged    float64
Death               float64
Population            int64
Rural population      int64
Urban population      int64
Area                 object
Density              object
Gender Ratio          int64
dtype: object

In [15]:
#String Manipulation in two columns by removing certain part in strings

In [16]:
dfm['Density']=dfm['Density'].str.replace(r"\(.*\)","")
dfm['Density']=dfm['Density'].str.replace(',','')
dfm['Density']=dfm['Density'].str.replace('/km2','')

In [17]:
dfm['Area']=dfm['Area'].str.replace(r"\(.*\)","")
dfm['Area']=dfm['Area'].str.replace(',','')
dfm['Area']=dfm['Area'].str.replace('km2','')

In [18]:
dfm=dfm.rename(columns={"Area": "Area_in_km", "Density": "Density_in_sqkm"})

In [19]:
dfm[dfm['Date']=='19/08/2020'].head()

,Date,Region,Confirmed Cases,Active Cases,Cured/Discharged,Death,Population,Rural population,Urban population,Area_in_km,Density_in_sqkm,Gender Ratio
145,19/08/2020,Andaman and Nicobar Islands,2529,1078,1421.0,30.0,380581,237093,143488,8249,46,876
306,19/08/2020,Andhra Pradesh,306261,85130,218311.0,2820.0,49577103,34966693,14610410,162968,303,993
445,19/08/2020,Arunachal Pradesh,2875,921,1949.0,5.0,1383727,1066358,317369,83743,17,938
585,19/08/2020,Assam,82201,23704,58294.0,203.0,31205576,26807034,4398542,78438,397,954
736,19/08/2020,Bihar,109498,28692,80330.0,476.0,104099452,92341436,11758016,94163,1102,918

In [20]:
dfm.dtypes

Date                 object
Region               object
Confirmed Cases       int64
Active Cases          int64
Cured/Discharged    float64
Death               float64
Population            int64
Rural population      int64
Urban population      int64
Area_in_km           object
Density_in_sqkm      object
Gender Ratio          int64
dtype: object

In [21]:
#Converting Datatypes

In [22]:
dfm['Area_in_km']=dfm['Area_in_km'].astype('int64')
dfm['Cured/Discharged']=dfm['Cured/Discharged'].astype('int64')
dfm['Death']=dfm['Death'].astype('int64')

In [23]:
dfm['Density_in_sqkm']=dfm['Density_in_sqkm'].astype(float)

In [24]:
dfm['Date'] = pd.to_datetime(dfm['Date'],format='%d/%m/%Y')

In [25]:
dfm.dtypes

Date                datetime64[ns]
Region                      object
Confirmed Cases              int64
Active Cases                 int64
Cured/Discharged             int64
Death                        int64
Population                   int64
Rural population             int64
Urban population             int64
Area_in_km                   int64
Density_in_sqkm            float64
Gender Ratio                 int64
dtype: object

#Data Cleaning on Hospital File

In [26]:
dfq=pd.read_csv(r'HospitalBedsIndia.csv')

In [27]:
dfq

,Sno,State/UT,NumPrimaryHealthCenters_HMIS,NumCommunityHealthCenters_HMIS,NumSubDistrictHospitals_HMIS,NumDistrictHospitals_HMIS,TotalPublicHealthFacilities_HMIS,NumPublicBeds_HMIS,NumRuralHospitals_NHP18,NumRuralBeds_NHP18,NumUrbanHospitals_NHP18,NumUrbanBeds_NHP18
0,1,Andaman & Nicobar Islands,27,4,NaN,3,34,1246,27,575,3,500
1,2,Andhra Pradesh,1417,198,31.0,20,1666,60799,193,6480,65,16658
2,3,Arunachal Pradesh,122,62,NaN,15,199,2320,208,2136,10,268
3,4,Assam,1007,166,14.0,33,1220,19115,1176,10944,50,6198
4,5,Bihar,2007,63,33.0,43,2146,17796,930,6083,103,5936
5,6,Chandigarh,40,2,1.0,4,47,3756,0,0,4,778
6,7,Chhattisgarh,813,166,12.0,32,1023,14354,169,5070,45,4342
7,8,Dadra & Nagar Haveli,9,2,1.0,1,13,568,10,273,1,316
8,9,Daman & Diu,4,2,NaN,2,8,298,5,240,0,0
9,10,Delhi,534,25,9.0,47,615,20572,0,0,109,24383
10,11,Goa,31,4,2.0,3,40,2666,17,1405,25,1608
11,12,Gujarat,1770,385,44.0,37,2236,41129,364,11715,122,20565
12,13,Haryana,500,131,24.0,28,683,13841,609,6690,59,4550
13,14,Himachal Pradesh,516,79,61.0,15,671,8706,705,5665,96,6734
14,15,Jammu & Kashmir,702,87,NaN,29,818,11342,56,7234,76,4417
15,16,Jharkhand,343,179,13.0,23,558,7404,519,5842,36,4942
16,17,Karnataka,2547,207,147.0,42,2943,56333,2471,21072,374,49093
17,18,Kerala,933,229,82.0,53,1297,39511,981,16865,299,21139
18,19,Lakshadweep,4,3,2.0,1,10,250,9,300,0,0
19,20,Madhya Pradesh,1420,324,72.0,51,1867,38140,334,10020,117,18819
20,21,Maharashtra,2638,430,101.0,70,3239,68998,273,12398,438,39048
21,22,Manipur,87,17,1.0,9,114,2562,23,730,7,697
22,23,Meghalaya,138,29,NaN,13,180,4585,143,1970,14,2487
23,24,Mizoram,65,10,3.0,9,87,2312,56,604,34,1393
24,25,Nagaland,134,21,NaN,11,166,1944,21,630,15,1250
25,26,Odisha,1360,377,27.0,35,1799,16497,1655,6339,149,12180
26,27,Puducherry,40,4,5.0,4,53,4462,3,96,11,3473
27,28,Punjab,521,146,47.0,28,742,13527,510,5805,172,12128
28,29,Rajasthan,2463,579,64.0,33,3139,51844,602,21088,150,10760
29,30,Sikkim,25,2,1.0,4,32,1145,24,260,9,1300
30,31,Tamil Nadu,1854,385,310.0,32,2581,72616,692,40179,525,37353
31,32,Telangana,788,82,47.0,15,932,17358,802,7668,61,13315
32,33,Tripura,114,22,12.0,9,157,4895,99,1140,56,3277
33,34,Uttar Pradesh,3277,671,NaN,174,4122,58310,4442,39104,193,37156
34,35,Uttarakhand,275,69,19.0,20,383,6660,410,3284,50,5228
35,36,West Bengal,1374,406,70.0,55,1905,51163,1272,19684,294,58882
36,37,All India,"29,899",5568,1255.0,1003,37725,739024,19810,279588,3772,431173

In [28]:
dfq=dfq.fillna(0)
dfq=dfq.drop('Sno',axis=1)

In [29]:
dfq.dtypes

State/UT                             object
NumPrimaryHealthCenters_HMIS         object
NumCommunityHealthCenters_HMIS        int64
NumSubDistrictHospitals_HMIS        float64
NumDistrictHospitals_HMIS             int64
TotalPublicHealthFacilities_HMIS      int64
NumPublicBeds_HMIS                    int64
NumRuralHospitals_NHP18               int64
NumRuralBeds_NHP18                    int64
NumUrbanHospitals_NHP18               int64
NumUrbanBeds_NHP18                    int64
dtype: object

In [30]:
#String Manipulation

In [31]:
dfq['NumPrimaryHealthCenters_HMIS']=dfq['NumPrimaryHealthCenters_HMIS'].str.replace(',','')

In [32]:
dfq['NumPrimaryHealthCenters_HMIS']=pd.to_numeric(dfq.NumPrimaryHealthCenters_HMIS)

In [33]:
dfq.dtypes

State/UT                             object
NumPrimaryHealthCenters_HMIS          int64
NumCommunityHealthCenters_HMIS        int64
NumSubDistrictHospitals_HMIS        float64
NumDistrictHospitals_HMIS             int64
TotalPublicHealthFacilities_HMIS      int64
NumPublicBeds_HMIS                    int64
NumRuralHospitals_NHP18               int64
NumRuralBeds_NHP18                    int64
NumUrbanHospitals_NHP18               int64
NumUrbanBeds_NHP18                    int64
dtype: object

In [34]:
#String Conversion

In [35]:
dfq['NumSubDistrictHospitals_HMIS']=dfq['NumSubDistrictHospitals_HMIS'].astype(int)

In [36]:
dfq

,State/UT,NumPrimaryHealthCenters_HMIS,NumCommunityHealthCenters_HMIS,NumSubDistrictHospitals_HMIS,NumDistrictHospitals_HMIS,TotalPublicHealthFacilities_HMIS,NumPublicBeds_HMIS,NumRuralHospitals_NHP18,NumRuralBeds_NHP18,NumUrbanHospitals_NHP18,NumUrbanBeds_NHP18
0,Andaman & Nicobar Islands,27,4,0,3,34,1246,27,575,3,500
1,Andhra Pradesh,1417,198,31,20,1666,60799,193,6480,65,16658
2,Arunachal Pradesh,122,62,0,15,199,2320,208,2136,10,268
3,Assam,1007,166,14,33,1220,19115,1176,10944,50,6198
4,Bihar,2007,63,33,43,2146,17796,930,6083,103,5936
5,Chandigarh,40,2,1,4,47,3756,0,0,4,778
6,Chhattisgarh,813,166,12,32,1023,14354,169,5070,45,4342
7,Dadra & Nagar Haveli,9,2,1,1,13,568,10,273,1,316
8,Daman & Diu,4,2,0,2,8,298,5,240,0,0
9,Delhi,534,25,9,47,615,20572,0,0,109,24383
10,Goa,31,4,2,3,40,2666,17,1405,25,1608
11,Gujarat,1770,385,44,37,2236,41129,364,11715,122,20565
12,Haryana,500,131,24,28,683,13841,609,6690,59,4550
13,Himachal Pradesh,516,79,61,15,671,8706,705,5665,96,6734
14,Jammu & Kashmir,702,87,0,29,818,11342,56,7234,76,4417
15,Jharkhand,343,179,13,23,558,7404,519,5842,36,4942
16,Karnataka,2547,207,147,42,2943,56333,2471,21072,374,49093
17,Kerala,933,229,82,53,1297,39511,981,16865,299,21139
18,Lakshadweep,4,3,2,1,10,250,9,300,0,0
19,Madhya Pradesh,1420,324,72,51,1867,38140,334,10020,117,18819
20,Maharashtra,2638,430,101,70,3239,68998,273,12398,438,39048
21,Manipur,87,17,1,9,114,2562,23,730,7,697
22,Meghalaya,138,29,0,13,180,4585,143,1970,14,2487
23,Mizoram,65,10,3,9,87,2312,56,604,34,1393
24,Nagaland,134,21,0,11,166,1944,21,630,15,1250
25,Odisha,1360,377,27,35,1799,16497,1655,6339,149,12180
26,Puducherry,40,4,5,4,53,4462,3,96,11,3473
27,Punjab,521,146,47,28,742,13527,510,5805,172,12128
28,Rajasthan,2463,579,64,33,3139,51844,602,21088,150,10760
29,Sikkim,25,2,1,4,32,1145,24,260,9,1300
30,Tamil Nadu,1854,385,310,32,2581,72616,692,40179,525,37353
31,Telangana,788,82,47,15,932,17358,802,7668,61,13315
32,Tripura,114,22,12,9,157,4895,99,1140,56,3277
33,Uttar Pradesh,3277,671,0,174,4122,58310,4442,39104,193,37156
34,Uttarakhand,275,69,19,20,383,6660,410,3284,50,5228
35,West Bengal,1374,406,70,55,1905,51163,1272,19684,294,58882
36,All India,29899,5568,1255,1003,37725,739024,19810,279588,3772,431173

In [37]:
#Taking Column Names into List

In [38]:
columnDF=dfq.columns.tolist()

In [39]:
print(columnDF)

['State/UT', 'NumPrimaryHealthCenters_HMIS', 'NumCommunityHealthCenters_HMIS', 'NumSubDistrictHospitals_HMIS', 'NumDistrictHospitals_HMIS', 'TotalPublicHealthFacilities_HMIS', 'NumPublicBeds_HMIS', 'NumRuralHospitals_NHP18', 'NumRuralBeds_NHP18', 'NumUrbanHospitals_NHP18', 'NumUrbanBeds_NHP18']

In [40]:
#Calculating Sum on Row Using List Slicing and Sum Function

In [41]:
dfq["Total_Beds"] = dfq[columnDF[1:]].sum(axis=1)

In [42]:
dfq

,State/UT,NumPrimaryHealthCenters_HMIS,NumCommunityHealthCenters_HMIS,NumSubDistrictHospitals_HMIS,NumDistrictHospitals_HMIS,TotalPublicHealthFacilities_HMIS,NumPublicBeds_HMIS,NumRuralHospitals_NHP18,NumRuralBeds_NHP18,NumUrbanHospitals_NHP18,NumUrbanBeds_NHP18,Total_Beds
0,Andaman & Nicobar Islands,27,4,0,3,34,1246,27,575,3,500,2419
1,Andhra Pradesh,1417,198,31,20,1666,60799,193,6480,65,16658,87527
2,Arunachal Pradesh,122,62,0,15,199,2320,208,2136,10,268,5340
3,Assam,1007,166,14,33,1220,19115,1176,10944,50,6198,39923
4,Bihar,2007,63,33,43,2146,17796,930,6083,103,5936,35140
5,Chandigarh,40,2,1,4,47,3756,0,0,4,778,4632
6,Chhattisgarh,813,166,12,32,1023,14354,169,5070,45,4342,26026
7,Dadra & Nagar Haveli,9,2,1,1,13,568,10,273,1,316,1194
8,Daman & Diu,4,2,0,2,8,298,5,240,0,0,559
9,Delhi,534,25,9,47,615,20572,0,0,109,24383,46294
10,Goa,31,4,2,3,40,2666,17,1405,25,1608,5801
11,Gujarat,1770,385,44,37,2236,41129,364,11715,122,20565,78367
12,Haryana,500,131,24,28,683,13841,609,6690,59,4550,27115
13,Himachal Pradesh,516,79,61,15,671,8706,705,5665,96,6734,23248
14,Jammu & Kashmir,702,87,0,29,818,11342,56,7234,76,4417,24761
15,Jharkhand,343,179,13,23,558,7404,519,5842,36,4942,19859
16,Karnataka,2547,207,147,42,2943,56333,2471,21072,374,49093,135229
17,Kerala,933,229,82,53,1297,39511,981,16865,299,21139,81389
18,Lakshadweep,4,3,2,1,10,250,9,300,0,0,579
19,Madhya Pradesh,1420,324,72,51,1867,38140,334,10020,117,18819,71164
20,Maharashtra,2638,430,101,70,3239,68998,273,12398,438,39048,127633
21,Manipur,87,17,1,9,114,2562,23,730,7,697,4247
22,Meghalaya,138,29,0,13,180,4585,143,1970,14,2487,9559
23,Mizoram,65,10,3,9,87,2312,56,604,34,1393,4573
24,Nagaland,134,21,0,11,166,1944,21,630,15,1250,4192
25,Odisha,1360,377,27,35,1799,16497,1655,6339,149,12180,40418
26,Puducherry,40,4,5,4,53,4462,3,96,11,3473,8151
27,Punjab,521,146,47,28,742,13527,510,5805,172,12128,33626
28,Rajasthan,2463,579,64,33,3139,51844,602,21088,150,10760,90722
29,Sikkim,25,2,1,4,32,1145,24,260,9,1300,2802
30,Tamil Nadu,1854,385,310,32,2581,72616,692,40179,525,37353,156527
31,Telangana,788,82,47,15,932,17358,802,7668,61,13315,41068
32,Tripura,114,22,12,9,157,4895,99,1140,56,3277,9781
33,Uttar Pradesh,3277,671,0,174,4122,58310,4442,39104,193,37156,147449
34,Uttarakhand,275,69,19,20,383,6660,410,3284,50,5228,16398
35,West Bengal,1374,406,70,55,1905,51163,1272,19684,294,58882,135105
36,All India,29899,5568,1255,1003,37725,739024,19810,279588,3772,431173,1548817

In [43]:
#Making new dataframe with reqd columns(Total Sum of beds)

In [44]:
dfq=dfq[['State/UT','Total_Beds']]

In [45]:
dfq

                     State/UT  Total_Beds
0   Andaman & Nicobar Islands        2419
1              Andhra Pradesh       87527
2           Arunachal Pradesh        5340
3                       Assam       39923
4                       Bihar       35140
5                  Chandigarh        4632
6                Chhattisgarh       26026
7        Dadra & Nagar Haveli        1194
8                 Daman & Diu         559
9                       Delhi       46294
10                        Goa        5801
11                    Gujarat       78367
12                    Haryana       27115
13           Himachal Pradesh       23248
14            Jammu & Kashmir       24761
15                  Jharkhand       19859
16                  Karnataka      135229
17                     Kerala       81389
18                Lakshadweep         579
19             Madhya Pradesh       71164
20                Maharashtra      127633
21                    Manipur        4247
22                  Meghalaya        9559
23                    Mizoram        4573
24                   Nagaland        4192
25                     Odisha       40418
26                 Puducherry        8151
27                     Punjab       33626
28                  Rajasthan       90722
29                     Sikkim        2802
30                 Tamil Nadu      156527
31                  Telangana       41068
32                    Tripura        9781
33              Uttar Pradesh      147449
34                Uttarakhand       16398
35                West Bengal      135105
36                  All India     1548817

# Merging dataframes into new Dataframe

In [46]:
dfa=pd.merge(dfm, dfq, how='inner', on=None, left_on='Region', right_on='State/UT',
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [47]:
dfa.head()

,Date,Region,Confirmed Cases,Active Cases,Cured/Discharged,Death,Population,Rural population,Urban population,Area_in_km,Density_in_sqkm,Gender Ratio,State/UT,Total_Beds
0,2020-03-12,Andhra Pradesh,1,1,0,0,49577103,34966693,14610410,162968,303.0,993,Andhra Pradesh,87527
1,2020-03-13,Andhra Pradesh,1,1,0,0,49577103,34966693,14610410,162968,303.0,993,Andhra Pradesh,87527
2,2020-03-14,Andhra Pradesh,1,1,0,0,49577103,34966693,14610410,162968,303.0,993,Andhra Pradesh,87527
3,2020-03-15,Andhra Pradesh,1,1,0,0,49577103,34966693,14610410,162968,303.0,993,Andhra Pradesh,87527
4,2020-03-16,Andhra Pradesh,1,1,0,0,49577103,34966693,14610410,162968,303.0,993,Andhra Pradesh,87527

In [48]:
dfa=dfa.drop('State/UT',axis=1)

In [49]:
dfa[dfa['Date']=='19/08/2020']

,Date,Region,Confirmed Cases,Active Cases,Cured/Discharged,Death,Population,Rural population,Urban population,Area_in_km,Density_in_sqkm,Gender Ratio,Total_Beds
160,2020-08-19,Andhra Pradesh,306261,85130,218311,2820,49577103,34966693,14610410,162968,303.0,993,87527
299,2020-08-19,Arunachal Pradesh,2875,921,1949,5,1383727,1066358,317369,83743,17.0,938,5340
439,2020-08-19,Assam,82201,23704,58294,203,31205576,26807034,4398542,78438,397.0,954,39923
590,2020-08-19,Bihar,109498,28692,80330,476,104099452,92341436,11758016,94163,1102.0,918,35140
744,2020-08-19,Chandigarh,2305,1032,1243,30,1055450,28991,1026459,114,9252.0,818,4632
897,2020-08-19,Chhattisgarh,16833,5828,10847,158,25545198,19607961,5937237,135191,189.0,991,26026
1058,2020-08-19,Delhi,154741,11068,139447,4226,16787941,419042,16368899,1484,11297.0,868,46294
1205,2020-08-19,Goa,12333,3861,8356,116,1458545,551731,906814,3702,394.0,973,5801
1358,2020-08-19,Gujarat,80802,14279,63703,2820,60439692,34694609,25745083,196024,308.0,919,78367
1519,2020-08-19,Haryana,48936,7081,41298,557,25351462,16509359,8842103,44212,573.0,879,27115
1671,2020-08-19,Himachal Pradesh,4235,1293,2923,19,6864602,6176050,688552,55673,123.0,972,23248
1811,2020-08-19,Jharkhand,24477,8708,15507,262,32988134,25055073,7933061,79714,414.0,948,19859
1972,2020-08-19,Karnataka,240948,79798,156949,4201,61095297,37469335,23625962,191791,319.0,973,135229
2133,2020-08-19,Kerala,47898,16333,31390,175,33406061,17471135,15934926,38863,859.0,1084,81389
2154,2020-08-19,Lakshadweep,0,0,0,0,64473,14141,50332,32,2013.0,946,579
2306,2020-08-19,Madhya Pradesh,47375,10521,35713,1141,72626809,52557404,20069405,308245,236.0,931,71164
2467,2020-08-19,Maharashtra,615477,156920,437870,20687,112374333,61556074,50818259,307713,365.0,929,127633
2615,2020-08-19,Manipur,4765,1958,2789,18,2570390,1793875,776515,22327,122.0,992,4247
2742,2020-08-19,Meghalaya,1457,766,685,6,2966889,2371439,595450,22429,132.0,989,9559
2889,2020-08-19,Mizoram,860,481,379,0,1097206,525435,571771,21081,52.0,976,4573
2983,2020-08-19,Nagaland,3520,1848,1664,8,1978502,1407536,570966,16579,119.0,931,4192
3140,2020-08-19,Odisha,64533,18856,45315,362,41974218,34970562,7003656,155707,269.0,979,40418
3294,2020-08-19,Puducherry,8396,3364,4909,123,1247953,395200,852753,479,2598.0,1037,8151
3455,2020-08-19,Punjab,34400,11740,21762,898,27743338,17344192,10399146,50362,550.0,895,33626
3616,2020-08-19,Rajasthan,63977,14119,48960,898,68548437,51500352,17048085,342239,201.0,928,90722
3704,2020-08-19,Sikkim,1207,450,755,2,610577,456999,153578,7096,86.0,890,2802
3865,2020-08-19,Tamil Nadu,349654,53860,289787,6007,72147030,37229590,34917440,130058,555.0,996,156527
4000,2020-08-19,Tripura,7645,2083,5497,65,3673917,2712464,961453,10486,350.0,960,9781
4161,2020-08-19,Uttar Pradesh,162434,50242,109607,2585,199812341,155317278,44495063,240928,828.0,912,147449
4318,2020-08-19,Uttarakhand,12961,4073,8724,164,10086292,7036954,3049338,53483,189.0,963,16398
4472,2020-08-19,West Bengal,122753,27535,92690,2528,91276115,62183113,29093002,88752,1029.0,953,135105

In [50]:
#Final DATASET